<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>635795718795-7fpb55r1sve4ilfmmcv1cp58k30hi8mh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.635795718795-7fpb55r1sve4ilfmmcv1cp58k30hi8mh</string>
	<key>API_KEY</key>
	<string>AIzaSyDZLT40lrlN6shsj-5TUZjLfSVlbZwtGSk</string>
	<key>GCM_SENDER_ID</key>
	<string>635795718795</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.todoary.ms.app</string>
	<key>PROJECT_ID</key>
	<string>todoary-cec3a</string>
	<key>STORAGE_BUCKET</key>
	<string>todoary-cec3a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:635795718795:ios:76286d5b0989183cb48a8e</string>
</dict>
</plist>